@import url("https://fonts.googleapis.com/css?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:300,400&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
}

a {
  color: #fff !important;
}

p {
  margin: 0 !important;
}

section {
  padding: 60px 0;
}

/* Header */
.menu .menu-item-desc .btn, .about .btn, header .container .hero-text .btn {
  width: 100px;
  padding: 5px 0;
  border: 1px solid #c69963;
  position: relative;
  overflow: hidden;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)), url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}
header .container {
  position: relative;
  height: 100%;
  padding: 0;
}
header .container .hamburger-menu {
  position: fixed;
  top: 25px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #101d2c;
  border-radius: 4px;
  cursor: pointer;
  z-index: 999;
}
header .container .hamburger-menu i {
  font-size: 30px;
  color: rgba(198, 153, 99, 0.7);
  margin: auto;
}
header .container .hamburger-menu .fa-times {
  display: none;
}
header .container .hamburger-menu .fa-times.open {
  display: block;
}
header .container .hamburger-menu .fa-bars.open {
  display: none;
}
header .container nav .navbar-brand {
  position: absolute;
  width: 100%;
  max-width: 100px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.65ms;
}
header .container nav .navbar-brand:hover {
  opacity: 0.8;
}
header .container nav .nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  list-style: none;
  background-color: #101d2c;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 650ms;
}
header .container nav .nav-list.open {
  opacity: 1;
  visibility: visible;
}
header .container .hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
}
header .container .hero-text h1 {
  font-family: "Niconne", cursive;
  color: #c69963;
}
header .container .hero-text .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: all 650ms;
}
header .container .hero-text .btn:hover::before {
  left: 100%;
}

/* About Section */
.menu .section-heading h4, .about .section-heading h4 {
  text-transform: uppercase;
  color: #101d2c;
  line-height: 0;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.menu .section-heading h1, .about .section-heading h1 {
  font-family: "Niconne", cursive;
  color: #c69963;
}

.about .btn {
  width: 150px;
  color: #c69963 !important;
}
.about .btn:hover {
  color: #fff !important;
  background-color: #c69963;
}

/* Menu Section */
.menu {
  background-color: #101d2c;
}
.menu .shop-info i {
  color: #c69963;
  font-size: 50px;
}
.menu .shop-info h1 {
  font-family: "Teko", sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu .shop-info p, .menu .shop-info address {
  color: rgba(255, 255, 255, 0.5);
}
.menu hr {
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.menu .menu-item-desc {
  padding: 50px 10px;
  color: #212529;
  margin: auto;
}
.menu .menu-item-desc h6 {
  color: #c69963;
  font-size: 20px;
}
.menu .menu-item-desc h1 {
  color: #101d2c;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Teko", sans-serif;
  font-weight: 300;
}
.menu .menu-item-desc .btn {
  color: #c69963 !important;
}
.menu .menu-item-desc .btn:hover {
  color: #fff !important;
  background-color: #c69963;
}
.menu .point-left, .menu .point-right {
  position: relative;
  background-color: #fff;
  display: flex;
}
.menu .point-left::before, .menu .point-right::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: 1;
}

/* Media Query */
@media (min-width: 576px) {
  .navbar-brand {
    max-width: 150px !important;
  }

  .hamburger-menu {
    top: 35px !important;
    right: 25px !important;
  }

  .point-left::before, .point-right::before {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .btn {
    width: 150px !important;
  }
}
@media (min-width: 992px) {
  header .container {
    padding: 0 15px !important;
  }
  header .container nav .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: initial;
    flex-direction: row;
    opacity: 1;
    visibility: visible;
    transform: initial;
    transition: initial;
    margin: 0;
    padding: 0;
  }
  header .container nav .nav-list .nav-item {
    margin: 0 30px;
  }
  header .container nav .nav-list .nav-item:last-child {
    margin-right: 0;
  }
  header .container nav .nav-list .nav-link {
    position: relative;
    padding: 0;
  }
  header .container nav .nav-list .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #c69963;
    bottom: -3px;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: center;
    transition: 650ms;
  }
  header .container nav .nav-list .nav-link:hover::before {
    transform: scaleX(1);
  }
  header .hamburger-menu {
    display: none !important;
  }
  header .navbar-brand {
    position: initial !important;
    transform: initial !important;
  }
}

/*# sourceMappingURL=style.css.map */
