@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');

*, *::before, *::after{
    padding: 0; margin: 0;
}

a {
    color: #fff !important;
}

p {
    margin: 0;
}

section {
    padding: 60px 0;
}

/* Header */
// Extend for btn
%extend-btn{
    width: 100px;
    padding: 5px 0;
    border: 1px solid #c69963;
    position: relative;
    overflow: hidden;
}
header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(16,29,44,.95), rgba(16,29,44,.95)),
                url('../img/header-bg.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    .container {
        position: relative;
        height: 100%;
        padding: 0;
        .hamburger-menu {
            position: fixed;
            top: 25px;
            right: 15px;
            width: 50px;
            height: 50px;
            display: flex;
            background-color: #101d2c;
            border-radius: 4px;
            cursor: pointer;
            z-index: 999;
            i {
                font-size: 30px;
                color: rgba(198,153,99,.7);
                margin: auto;
            }
            .fa-times {
                display: none;
            }
            .fa-times.open {
                display: block;
            }
            .fa-bars.open {
                display: none;
            }
        }
        nav {
            .navbar-brand {
                position: absolute;
                width: 100%;
                max-width: 100px;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                transition:  .65ms;
                &:hover {
                    opacity: .8;
                }
            }
            .nav-list {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                list-style: none;
                background-color: #101d2c;
                z-index: 900;
                display: flex;
                flex-direction: column;
                justify-content: center;
                opacity: 0;
                visibility: hidden;
                transition: all 650ms;
            }
            .nav-list.open {
                opacity: 1;
                visibility: visible;
            }
        }
        .hero-text {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -45%);
            text-align: center;
            h1 {
                font-family: 'Niconne', cursive;
                color: #c69963;
            }
            .btn {
                @extend %extend-btn;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(120deg, transparent, rgba(255,255,255,.3), transparent);
                    transition: all 650ms;
                }
                &:hover::before {
                    left: 100%;
                }
            }
        }
    }
}

/* About Section */
main {
    .about {
        .section-heading {
            h4 {
                text-transform: uppercase;
                color: #101d2c;
                line-height: 0;
                font-family: 'Teko', sans-serif;
                font-weight: 300;
                letter-spacing: 1px;
            }
            h1 {
                font-family: 'Niconne', cursive;
                color: #c69963;
            }
        }
        .btn {
            @extend %extend-btn;
            width: 150px;
            color: #c69963 !important;
            &:hover {
                color: #fff !important;
                background-color: #c69963;
            }
        }
    }
}

/* Media Query */
@media (min-width: 576px) {
    .navbar-brand {
        max-width: 150px !important;
    }
    .hamburger-menu {
        top: 35px !important;
        right: 25px !important;
    }
}

@media (min-width: 768px) {
    .btn {
        width: 150px !important;
    }
}

@media (min-width: 992px) {
    header {
        .container {
            padding: 0 15px !important;
            nav {
                .nav-list {
                    position: initial;
                    width: initial;
                    height: initial;
                    background-color: initial;
                    flex-direction: row;
                    opacity: 1;
                    visibility: visible;
                    transform: initial;
                    transition: initial;
                    margin: 0;
                    padding: 0;
                    .nav-item {
                        margin: 0 30px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    .nav-link {
                        position: relative;
                        padding: 0;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            background-color: #c69963;
                            bottom: -3px;
                            width: 100%;
                            height: 3px;
                            transform: scaleX(0);
                            transform-origin: center;
                            transition: 650ms;
                        }
                        &:hover::before {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
        .hamburger-menu {
            display: none !important;
        }
        .navbar-brand {
            position: initial !important;
            transform: initial !important;
        }
        
    } 
}